.MuiCard-root {
  margin-bottom: 1.5em;
  height: calc(100% - 1.5em);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

* {
  margin: 0;
  padding: 0;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background: darkslategray;
  color: white;
}

.nav-links {
  width: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}

nav li {
  color: white;
}

/* img {
  display: block;
  max-width: 20ch;
  max-height: 100%;
  width: auto;
  height: auto;
  margin-left: 5rem;
} */

/* .cart {
  color: white;
  margin-top: 20px;
} */

.cart {
  display: inline-block;
  width: 150px;
  height: 50px;
  text-align: center;
  color: #CC0000;
  margin-top: 28px;
  margin-left: 7.5rem;
}

.rate{
  margin-left: 0.65rem;
}

.inputWrapper {
  display: flex;
  margin-bottom: 50px;
  justify-content: space-between;

}

/* .show-products {
width: 100%
} */
.container-cart{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  margin-top: 5rem;
  margin-left: 3rem;
  padding: 3rem;
  width: 50%;
  box-shadow:rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

#collasible-nav-dropdown{
  color: #CC0000;
}

.d-inline-block align-top{
  background-color: #CC0000;
}

 a.dropdown-item {
    color: #CC0000; 
 }

 button.navbar-toggler.collapsed{
   border-color: #CC0000;
  
 }

 span.navbar-toggler-icon{
   background-color: #CC0000;
 }
/* .navbar-toggler {
  border-color: black;
} */

.image-container{
  width: 150px;
  height: 75px;
  padding-top: 1rem;
}

.img-cover{
  object-fit: cover;
  height: 100%;   
}
.shop-info{
  margin-left: 1rem;
  line-height: 80%;
  /* margin-top: -0.5rem; */
}
.seller-logo{
  height: 30vh;
  
}

