

.MuiCard-root {
  margin-bottom: 1.5em;
  height: calc(100% - 1.5em);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

* {
  margin: 0;
  padding: 0;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background: darkslategray;
  color: white;
}

.nav-links {
  width: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}

nav li {
  color: white;
}

/* img {
  display: block;
  max-width: 20ch;
  max-height: 100%;
  width: auto;
  height: auto;
  margin-left: 5rem;
} */

.cart {
  color: white;
  margin-top: 20px;
}

.cart {
  display: inline-block;
  width: 150px;
  height: 50px;
  text-align: center;
}

.rate{
  margin-left: 0.65rem;
}

.container-cart{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  margin-top: 5rem;
  margin-left: 3rem;
  padding: 3rem;
  width: 50%;
  box-shadow:rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}
/* .home { */
  /* background-color: red; */
/* } */
/* .home {
  height: auto;
  display: flex;
  flex-direction: column;
  width: 100%;
}
 .location-wrapper {
   display: flex;
   justify-content: center;
   width: 100%;
   height: 20vh;
   /* margin: 15px auto; */
   /* padding: 1.5em;
   background-color: #04AA6D;
   justify-content: center;
   align-items: center;
 } */

    /* .containers {
        display: flex;
        min-height: 20vh;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        padding: 1em 1em;
        width: 100%;
        background-color: black; */
        /* background-image: url("./banner/img/background.png"); */
        /* background-position: center; */
          /* background-repeat: no-repeat; */
         
        /* background-size: cover */
    /* } */

    /* .items {
      /* background-image: initial; */
      /* color: unset; */

    /* } */ 
  /* .ccc{
    background-color: transparent;
  } */
    /* .item2 {
      margin: 10px 10px;
    } */ 
.home {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: aut0;
  flex-wrap: wrap;
  gap: 25px;
  
  
}

.hero {
  /* background-color: green; */
  margin: 20px auto; 
  width: 100%;
  height: 70vh; 
}

.searchl {
  width: 100%;
  height: 15vh;
  /* background-color: red; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* margin: 30px auto; */
  flex-wrap: wrap;
}

.productt {
  width: 100%;
  height: 50vh;
  background-color: yellow;
}

.footer {
  width: 100%;
  height: 40vh;
  /* background-color: blue; */
}
