

.MuiCard-root {
  margin-bottom: 1.5em;
  height: calc(100% - 1.5em);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

* {
  margin: 0;
  padding: 0;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background: darkslategray;
  color: white;
}

/* .nav-links {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  list-style: none;
} */

nav li {
  color: white;
}


.cart {
  display: inline-block;
  width: 150px;
  height: 50px;
  text-align: center;
  color: #CC0000;
  margin-top: 28px;
  /* margin-left: 7.5rem; */
}

.rate{
  margin-left: 0.65rem;
}

.inputWrapper {
  display: flex;
  margin-bottom: 50px;
  justify-content: space-between;

}

/* .show-products {
width: 100%
} */
.container-cart{
  text-align: center;
  font-size: 1.5rem;
  padding: 3rem;
  
  /* box-shadow:rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px; */
}
.empty-card{
  align-items: center;
  width: 100%;
  height: 50%;
  padding: 100px;
}


    
.home {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: aut0;
  flex-wrap: wrap;
  gap: 30px;
  
  
}

.hero {
  margin: 20px auto; 
  width: 100%;
  height: 70vh; 
}


.searchl {
  width: 100%;
  height: 15vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 30px auto;
  flex-wrap: wrap;
}
.loc-wrapper {
display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  font-size: 1em;
}

.input-wrapper {
  display: flex;
  flex-direction: row;
  justify-content:center;
  align-items: center;
  flex-wrap: wrap;
  font-size: 1em;
}

.productt {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  gap: 25px;
}

.card-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 35px;
}

.items {
  max-width: 300px;
}

.footer {
  width: 100%;
  height: 20vh;
}

@media (min-width: 500px) {

  .input-wrapper {
    flex-direction: column;
    font-size: 2em;
  }
.loc-wrapper {
  flex-direction: column;
  gap: 15px;
  font-size: 0.75em;
}

.btn-wrapper {
  margin-top: -10px;
}

.btnSearch {
  margin-bottom: -10px;
}

}
#collasible-nav-dropdown{
  color: #CC0000;
}

.d-inline-block align-top{
  background-color: #CC0000;
  width: 100%;
  height: 100%;
  /* object-fit: cover; */
}

 a.dropdown-item {
    color: #CC0000; 
 }

 button.navbar-toggler.collapsed{
   border-color: #CC0000;
  
 }

 span.navbar-toggler-icon{
   background-color: #CC0000;
 }
/* .navbar-toggler {
  border-color: black;
} */

.image-container{
  width: 150px;
  height: 75px;
  padding-top: 1rem;
  background-color: #CC3A2F;
}

.img-cover{
  object-fit: cover;
  height: 100%;   
}
.shop-info{
  margin-left: 1rem;
  line-height: 80%;
  margin-top: 1rem;
}
.seller-logo{
  height: 30vh;
  
}

.textfield{
  margin: 2.5rem 0rem 0rem 2.5rem;
}

.nav-bar{
  background-color: #CC3A2F;
}

.searchbar{
  margin-top: -1rem;
}
.d-flex{
  width: 100%;
  margin-top: -1.7rem;

}
.thank-you{
    align-items: center;
    margin-left: 20px;
    width: 100%;
    height: 50%;
    padding: 8rem;    
  }
  .thank-p{
    text-align: center;
    font-size:1.5rem;
    font-weight: 500;
    color: rgb(89 84 84);
  }
@media screen and (max-width: 600px) {
  .me-auto {
    margin-left: 0rem;
  }

  .cart{
    margin-left: 6rem;
    margin-top: -2rem;
  }
  
}